# textcolor

snippet tco "\textcolor{}{}"
\textcolor{$1}{$0}
endsnippet

snippet tcor "\textcolor{red}{}"
\textcolor{red}{$0}
endsnippet

# environments
snippet ben "begin{} / end{}"
\begin{$1}
	$0
\end{$1}
endsnippet
